<mat-toolbar color="primary">
    <span>Admin Dashboard</span>
    <div class="spacer"></div>
    
    <a  mat-button routerLink="/admindash">Add Employee</a>
    <a  mat-button routerLink="/addsecurity">Add Security</a>
    <a  mat-button routerLink="/viewemp">View Employee</a>
    <a  mat-button routerLink="/viewsecurity">View Security</a>
  <a  mat-button routerLink="/searchemp">Search Employee</a>
  <a  mat-button routerLink="/searchsec">Search Security</a>
    <a  mat-button routerLink="/viewalllog">Log Management</a>
    <a  mat-button routerLink="/leavereq">Leave Management</a>
    <a  mat-button routerLink=""color="warn">Log Out</a>
  </mat-toolbar>
