<div class="center-card">
    <h1>SIGN IN</h1>
    <mat-card class="example-card">
        <mat-card-header>
         
        </mat-card-header>
       
        <mat-card-content>
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="ADMIN SIGNIN">
                        <mat-form-field class="example-full-width mt" appearance="outline">
                          <mat-label>User Name</mat-label>
                          <input type="text" matInput placeholder="enter email id" name="adminusername" [(ngModel)]="adminusername">
                        </mat-form-field>
                      
                        <mat-form-field class="example-full-width mt" appearance="outline">
                          <mat-label>Password</mat-label>
                          <input type="password" matInput placeholder="password" name="adminpass" [(ngModel)]="adminpass">
                        </mat-form-field>
                        <button mat-raised-button color="primary" (click)="adminLogin()">LOGIN</button>
                        
                    </mat-tab>
                
                    
                    <mat-tab label="EMPLOYE SIGNIN">
                            <mat-form-field class="example-full-width mt" appearance="outline">
                              <mat-label>Email ID</mat-label>
                              <input type="email" matInput placeholder="enter email id" name="email" [(ngModel)]="email">
                            </mat-form-field>
                          
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Password</mat-label>
                              <input type="password" matInput placeholder="password" name="ePass" [(ngModel)]="ePass" >
                            </mat-form-field>
                            <button mat-raised-button color="primary" (click)="empLogin()">LOGIN</button>
    
                    </mat-tab>
                
                
                    <mat-tab label="SECURITY SIGNIN">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Email ID</mat-label>
                              <input type="text" matInput placeholder="enter username" name="user_name" [(ngModel)]="user_name">
                            </mat-form-field>
                          
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Password</mat-label>
                              <input type="password" matInput placeholder="password" name="pass" [(ngModel)]="pass">
                            </mat-form-field>
                            <button mat-raised-button color="primary" (click)="secLogin ()">LOGIN</button>
    
                    </mat-tab>
                </mat-tab-group>
        </mat-card-content>
      </mat-card>
      
</div>

