<app-employee-navbar></app-employee-navbar>
<mat-card class="example-card">


    <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="e_name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.e_name}} </td>
            </ng-container>


            <ng-container matColumnDef="e_desg">
                <th mat-header-cell *matHeaderCellDef>Department </th>
                <td mat-cell *matCellDef="let element"> {{element.e_desg}} </td>
            </ng-container>


            <ng-container matColumnDef="discrip">
                <th mat-header-cell *matHeaderCellDef> Reasons </th>
                <td mat-cell *matCellDef="let element"> {{element.discrip}} </td>
            </ng-container>

            <ng-container matColumnDef="apply_date">
                <th mat-header-cell *matHeaderCellDef> Apply Date </th>
                <td mat-cell *matCellDef="let element"> {{element.apply_date}} </td>
            </ng-container>

            <ng-container matColumnDef="leave_date">
                <th mat-header-cell *matHeaderCellDef>Leave Date</th>
                <td mat-cell *matCellDef="let element"> {{element.leave_date}} </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Type</th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> status</th>
                <td mat-cell *matCellDef="let element">
                

                    <span *ngIf="element.status == 0">
                        Processing

                    </span>

                    <span *ngIf="element.status == 1">
                        APPROVED

                    </span>

                    <span *ngIf="element.status == 2">
                        DENIED

                    </span>
                </td>
            </ng-container>
            

             <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
             <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>
    